- hours = [7,8,9,10,11,12,1,2,3,4,5,6,7]
- days_of_week = %w(Sunday Monday Tuesday Wednesday Thursday Friday Saturday)
- if @schedule.nil? && days_of_week.include?(params["day"])
  .center-container
    .center-item
      %button.btn.btn-primary{ type: "button" }
        Create Schedule for 
        = params["day"]
.container
  .row
    .col-md-6.col-md-offset-3
      - if @schedule.nil? == false
        .schedule-container
          %h1= @schedule.day_of_week.capitalize
          %ul
            - @schedule.timeframes.each do |time|
              %li
                .frame
                  .hour
                    = time.hour
                  .task
                    - if time.tasks.first.nil?
                      TASK NEEDED
                    - else
                      = time.tasks.first.description
                  .full-time
                    = "#{time.hour}:00 #{time.am_pm.upcase}"
