- if @schedule.nil?
  .center-container
    .center-item
      %button.btn.btn-primary{ type: "button" }
        Create Schedule for 
        = current_day
.container
  .row
    .col-md-6.col-md-offset-3 
  / .row
  /   .col-md-6.col-md-offset-3
  /     .panel-group#schedule-accordian
  /       .panel.panel-default
  /         %a{ "data-toggle" => "collapse", "data-parent" => "#schedule-accordian", href: "#schedule-accordian-collapse" }
  /           .panel-heading.schedule-accordian-title
  /             .panel-title
  /               / %a{ "data-toggle" => "collapse", "data-parent" => "#schedule-accordian", href: "#schedule-accordian-collapse" }
  /               = "Schedule for #{current_day}"
  /               .pull-right
  /                 %i.fa.fa-angle-double-down
  /         .panel-collapse.collapse#schedule-accordian-collapse
  /           .panel-body
  /             %a{ href: "#"} Future site of something great
  / .row
  /   .col-md-6.col-md-offset-3
  /     .schedule-selector-bar
  /       .dropdown
  /         .dropdown-toggle{ "data-toggle" => "dropdown" }
  /           = "Schedule for #{current_day}"
  /           .pull-right
  /             %i.fa.fa-angle-double-down
  /         %ul.dropdown-menu{ role: "menu" }
  /           %li
  /             %a{ href: "#" } Put days here
  / %p THE TWO BELOW ARE PRETTY GOOD
  / .row
  /   .col-md-12
  /     .day-selector
  /       .day-selector-addon Schedule for
  /       .day-selector-selection.dropdown
  /         .dropdown-toggle{ "data-toggle" => "dropdown"}
  /           = current_day
  /           .pull-right
  /             %i.fa.fa-angle-double-down
  /         %ul.dropdown-menu.dropdown-menu-days{ role: "menu" }
  /           %li
  /             %a{ href: "#" } Put days here
  / - if @schedule.nil? == false
  /   .row{ style: "margin-top:15px"}
  /     - @schedule.timeframes.each do |time|
  /       .card-02
  /         .time-02
  /           = "#{time.hour}:00 #{time.am_pm.upcase}"
  /         .task-02
  /           - if time.tasks.first.nil?
  /             %input{ placeholder: "Enter task here" }
  /             %i.fa.fa-pencil
  /           - else
  /             = time.tasks.first.description
  / .row
  /   .col-md-6.col-md-offset-3
  /     - @schedule.timeframes.each do |time|
  /       .card
  /         .time
  /           %i.fa.fa-clock-o
  /           = "#{time.hour}:00 #{time.am_pm.upcase}"
  /         .task
  /           - if time.tasks.first.nil?
  /             %input{ placeholder: "Enter task here" }
  /             %i.fa.fa-pencil
  /           - else
  /             = time.tasks.first.description

  / .row
  /   .col-md-6.col-md-offset-3
  /     - @schedule.timeframes.each do |time|
  /       .time-task-card
  /         .time-on-card
  /           = "#{time.hour}:00 #{time.am_pm.upcase}"
  /         .task-on-card
  /           - if time.tasks.first.nil?
  /             A TASK INPUT WILL GO HERE
  /           - else
  /             = time.tasks.first.description
  / .row
  /   - @schedule.timeframes.each do |time|
  /     .col-md-3.col-md-offset-2
  /       = time.hour
  /     .col-md-5
  /       - if time.tasks.first.nil?
  /         This is where an input will go
  /       - else
  /         = time.tasks.first.description


        

